name: Build ZIVPN Core

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: false

      - name: Build Binary
        run: |
          cd app
          export CGO_ENABLED=0
          export GOOS=android
          export GOARCH=arm64
          go build -ldflags="-s -w" -o libuz.so .
          ls -lh libuz.so

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: libuz.so
          path: app/libuz.so
